body {
    font-family: Raleway;
    background: radial-gradient(149.43% 43.14% at 50% 50.97%, #F4FBFE 0%, #E1F4FD 100%);
}

#container {
    margin-left: 20%;
    width: 60%;
}

#header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3vw;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;
}

#info {
    font-size: 1.5vw;
    margin-bottom: 50px;
}

#search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.collapsed {
    display: none;
}

#query-icon {
    width: 10%;
    background-color: black;
}

#query {
    width: 100%;
    font-size: 2vw;
    padding: 1vw 1vw 1vw 1vw;
    background: none;
    border: 3px solid black;
}

#query:focus {
    background-color: rgb(240, 240, 240);
}

.magnify-icon {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    color: #E1F4FD;
    padding-left: 0.5vw;
    padding-top: 0.5vw;
}

#results {
    color: rgb(19, 19, 19);
    white-space: pre-line;
    font-size: 1.5vw;
    width: 100%;
}

.result {
    border-top: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.result:last-child {
    border-bottom: 1px solid black;
}

.result-customer-block {
    width: 100%;
    display: inline-block;
}

.result-customer {
    width: 90%;
    font-weight: bold;
    float: left;
}

.result-customer-arrow {
    width: 2vw;
    float: right;
}

.result-support {
    font-weight: normal;
    padding-top: 15px;
}

.rotate90 {
    transform: rotate(90deg);
}

.break {
    flex-basis: 100%;
    height: 0;
}

#footer {
    margin-top: 50px;
    background-color: brown;
    width: 100%;
}

#learn {
    width: 40%;
    background-color: black;
    text-align: center;
    color: #fff;
    font-size: 1vw;
    display: inline;
    float: left;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

#powered {
    width: 40%;
    display: flex;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

#logo {
    width: 6vw;
    margin-left: 10px;
}