body {
    background-color: #ffffff;
    width: 100%;
    font-family: "Raleway";
    font-size: 16px;
    margin: 0;
}

.button {
    background-color: whitesmoke;
}

.button-selected {
    background-color: lightskyblue;
}

.button-select {
    background-color: #e0f4f2;
}

.button-download {
    background-color: #00a796;
    margin-top: 100px;
}

.section {
    margin: 20px 0 0 0;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #00a796;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn {
    font-family: "Raleway";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    border-style: none;
}

.new-btn-primary {
    background-color: #00a796;
    color: #fdfdfd;
    padding: 11px 16px;
    border-radius: 4px;
    /* height: 40px; */
}

.new-btn-primary:hover {
    background-color: #009086;
}

.new-btn-primary:disabled {
    background-color: #b6e1da;
    color: #fdfdfd;
}

.new-btn-secondary {
    background-color: #e0f4f2;
    color: #009086;
    padding: 11px 16px;
    border-radius: 4px;
    height: 40px;
    margin-left: 15px;
}

.new-btn-secondary:hover {
    background-color: #b6e1da;
}

.new-btn-secondary:disabled {
    background-color: #eff9f8;
    color: #b6e1da;
}

.new-btn-secondary-small {
    background-color: #e0f4f2;
    color: #009086;
    padding: 7px 8px;
    border-radius: 3px;
    height: 32px;
}

.new-btn-secondary-small:hover {
    background-color: #b6e1da;
}

.new-btn-secondary-small:disabled {
    background-color: #eff9f8;
    color: #b6e1da;
}

.part-top {
    background-color: #0d1b22;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    color: #f4fbfe;
}

.part-bottom {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding-bottom: 50px;
}

.new-section {
    width: 80%;
    display: flex;
    padding-left: 10%;
    margin-top: 60px;
}

.panel-upload {
    border: 3px dashed #d0d7dd;
    height: 188px;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.panel-spacing {
    width: 5%;
}

.panel-info {
    width: 30%;
    height: 188px;
    background: #fdfdfd;
    /* Shadow / 01 Weak */

    box-shadow: -2px 2px 8px rgba(13, 27, 34, 0.1);
    border-radius: 4px;
}

.panel-headers {
    width: 30%;
}

.panel-example-rows {
    width: 65%;
}

.controls {
    overflow: hidden;
    height: 50px;
}

.flex-table {
    width: 100%;
    background-color: #00a796;
    border: 1px solid #2e3941;
}

.flex-header {
    width: 100%;
    background: #f9fbfd;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

.flex-row {
    width: 100%;
    background-color: #edf0f3;
    display: flex;
}

.flex-row:nth-child(odd) {
    background-color: #dee4ea;
}

.flex-col {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    /* Cut long texts */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.flex-col-full {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-col:first-child {
    border-right: 1px solid #2e3941;
}

.icon {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-upload {
    height: 20%;
    text-align: center;
    font-weight: bold;
}
.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-header {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-rows {
    font-size: 12px;
    line-height: 25px;
}

.info-row {
    border-bottom: 1px solid #dee4ea;
    padding-left: 10px;
    padding-right: 10px;
}

.info-row:last-child {
    border-bottom: none;
}

.info-col {
    display: inline;
}
.info-col-right {
    float: right;
}

#error-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fef4e2;
    border-radius: 5px;
    opacity: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #0d1b22;
    border-left: 5px solid #faa74a;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.error-message-fade {
    animation: fade 10s normal;
}

@keyframes fade {
    0%,
    100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
}

#how-to-use {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    padding-bottom: 50px;
    background-color: black;
    animation: fadein 0.2s;
    opacity: 0.8;
    font-size: 30px;
}

#how-to-use-contents {
    margin-left: 20%;
    margin-top: 10%;
    width: 60%;
    color: white;
}

.how-to-use-display {
    display: block;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

#how-to-use-contents-close {
    width: 40px;
    /* float: right; */
    margin-right: 15%;
    margin-top: 3%;
    float: right;
}
